.project-card {
    width: 300px;
    background-color: #aa2a41;
    color:white;
    margin:20px;
    h5{
        text-transform: uppercase;
    }
    
    p{
        font-size: 20px;
        color:rgb(241, 237, 237);
    }
    img{
    width: 100%;
    height:auto;
    button{
        margin: 200px !important;
        padding: 10px;
    }
    
}
}
.demos-btn{
    margin:20px;
    background-color:black !important;
    a{
    color: white;
    }
    
}
.projects-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.projects-section{
    h4{
        margin-bottom: 30px;
         color: rgba(27, 102, 124, 0.877);
         
        padding:20px;
        text-transform: uppercase;
    }
}
