.skills-section{
    background-color:#F2F3F4;
    
}

.skill-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    i{
        margin:50px;
    }
    img{
        margin:50px;
    }
}
.skills-section h4{
    margin-top:40px;
    color: rgba(20, 85, 105, 0.877);
   padding:20px;
   text-transform: uppercase;
}