.skills{
    background-color: rgb(228, 226, 226);
    
}

.skill-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    i{
        margin:50px;
    }
}
.skills h3{
    margin-top:40px;
    color:black;
}