.about-section {

	/*background-color: #ccc;  */

	background-color: white;

	text-align: center;

	display:flex;

	flex-direction: column;

	color: black;

  


   

}
.about-banner{
	
  height: 30vh;

  pointer-events: none;

}


.about-section h4{

    color: rgba(27, 102, 124, 0.877);
   padding:20px;
   text-transform: uppercase;
	padding:30px;

	padding-bottom:20px;

	font-family: 'Roboto Mono', monospace;





}

.about-section p{

	text-align: center;

	font-size: 1.15em;

	font-family: 'Roboto Mono', monospace;

	padding-bottom:50px;

	padding-left:25px;

	padding-right:25px;

	color: #aa2a41;





}
