h3{
   color: rgba(46, 172, 211, 0.877);
   padding:20px;
}

h6{

    color: white;
    padding:20px;

}

.inside{
    width:50vmin;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:auto;
    padding:20px;
}
.social-icons {

    color: rgba(0,0,0,0.8);
   
    background-color:rgba(0,0,0,0.9);
    padding:30px;

}

 a{

	text-decoration: none;

      
	color: #883444; 



}

i{
    font-size: 30px;
}




a:hover{

    
    transform: translate(0,-10px);

}

.social-icons::after {

	content:'';

	display:block;

	height: 2px;

	background-color: #883444; 

	width:70vmin;

	text-align: center;

	margin: 10px auto 40px auto;

}