.recognitions{
    background-color: rgb(250, 243, 243);
    padding-top: 30px;
    h4{
        top:1000px;
        margin-bottom: 30px;
        color: rgba(20, 85, 105, 0.877);
   padding:20px;
   text-transform: uppercase;
    }
    
}
