.recognitions{
    background-color: #F0F0F0;
    padding-top: 30px;
    h4{
       
        margin-bottom: 30px;
        color: rgba(20, 85, 105, 0.877);
   padding:20px;
   text-transform: uppercase;
    }
    
    
}
.carousel .slide .legend{
    background:  #c52c48;
    color:white;
    
}

.companies{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    img{
          width: auto;
          height:60px;
          margin: 30px;
      
    }
    
}

  
.companies-heading{
       
        margin-bottom: 30px;
        color: rgba(20, 85, 105, 0.877);
   padding:20px;
   text-transform: uppercase;
    
}
.carousel .slide{
    background-color: white;
    
}

.carousel .control-dots{
 
   
    
    .dot{
        background-color: #c52c48;
        width:12px;
        height:12px;
    }
}
@media all and (min-width:900px){
    .div1{
        width:90%;
        height:auto;
        margin:auto;
    }
    .div2{
        width:55%;
        height:auto;
        margin:auto;
    }
    .div3{
        width:30%;
        height:auto;
        margin:auto;
    }
    .div4{
        width:60%;
        height:100%;
        margin:auto;
    }
    .div5{
        width:60%;
        height:auto;
        margin:auto;
    }
    .div6{
        width:60%;
        height:auto;
        margin:auto;
    }
    .div7{
        width:60%;
        height:auto;
        margin:auto;
    }
    
}
