.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo-2 {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.anim-logo{
  animation: logo-spin infinite 2s linear;
}
.spin-logo{
  animation: spinner infinite 2s linear;
}
@keyframes App-logo-spin {
  from {
    
    -ms-transform: translate(-104px,-104px); 
  -webkit-transform: translate(-104px,-104px); 
  transform: translate(-104px,-104px);
  }
  to {
    -ms-transform: translate(-102px,-106px); 
  -webkit-transform: translate(-102px,-106px); 
  transform: translate(-102px,-106px);
  }
}

@keyframes logo-spin {
  from {
    
    -ms-transform: translate(-104px,-104px); 
  -webkit-transform: translate(-104px,-104px); 
  transform: translate(-104px,-104px);
  }
  to {
    -ms-transform: translate(-102px,-106px); 
  -webkit-transform: translate(-102px,-106px); 
  transform: translate(-102px,-106px);
  }
}
@keyframes spinner {
  from {    
  transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}